---
title: Welcome to Middleman
---
<div class="row">
  <center>
    <%= image_tag "logo.png", class: 'logo' %>
    <p><h2 class="title">#Backend Developers</h2></p>
  </center>
</div>
<div class="row">
  <div class="large-12 columns">
    <center>
      <%= image_tag 'slack.png' %>
    </center>
  </div>
</div>

<div class="row">
  <a href="http://backenddevelopers.slack.com" class="button alert round on-top">Join the Conversation</a>
</div>

<div class="botton-section">
  <p class="message">
    A <a href="http://slack.com">Slack</a> powered community for <br> creative developers to share knowledge
  </p>
</div>
